<% provide(:title, 'All Users') %>

<div class="container">
  <div class="page-header">
    <h1>All Users</h1>
  </div>

  <div class='row'>
  	<div class="span12">
	  <em>
	  	Click on User Name link to view, edit or delete a User.
        <br/>
        Sort multiple columns simultaneously by holding down the shift key and clicking a second, third or even fourth column header.
      </em>

      <br/><br/>

      <%= link_to raw('<i class="icon-plus icon-white"></i> Add User'), new_user_path, class: "btn btn-small btn-primary pull-left" %>

      <a id="clearfilters" href="#" class="btn btn-small btn-info pull-right">
        <i class="icon-refresh icon-white"></i>
        Clear Filters
      </a>

      <br/>

	  <table id="userTable" class="table table-bordered tablesorter">
	    <thead>
	      <tr>
		    <th>User Name</th>
		    <th style="text-align:center">User ID</th>
		    <th>First Name</th>
		    <th>Last Name</th>
		    <th style="text-align:center" filter-type='ddl'>Admin</th>
		    <th style="text-align:center" filter-type='ddl'>Read Only</th>
            <th >Assigned Contracts</th>
		  </tr>
	    </thead>

	    <tbody>
          <% @users.each do |user| %>
		    <tr>
		      <td><%= link_to user.user_name, user %></td>
		      <td style="text-align:center"><%= user.cmmi_user_id %></td>
		      <td><%= user.first_name %></td>
		      <td><%= user.last_name %></td>
		      <td style="text-align:center"><%= user.admin_flag %></td>
		      <td style="text-align:center"><%= user.read_only %></td>
              <td>
                <%= (user.contracts.map {|c| c.contract_name}).to_sentence(:two_words_connector => ', ', :last_word_connector => ', ') %>
              </td>
		    </tr>
		  <% end %>
		</tbody>
	  </table>
	</div>
  </div>
</div>
