<% provide(:title, 'All Users') %>

<div class="container">
  <div class="page-header">
    <h1>All Users</h1>
  </div>

  <div class='row'>
  	<div class="span12">
	    <em>Click on User Name link to edit or delete a user.</em>

	    <div class="pull-right">
	    	<p>
	    		<%= link_to "Add User", new_user_path, class: "btn btn-primary" %>
        </p>
      </div>

      <%= will_paginate %>

	    <table id="userTable" class="table table-striped table-bordered tablesorter">
	      <thead>
		      <tr>
		        <th>User Name</th>
		        <th style="text-align:center">User ID</th>
		        <th>First Name</th>
		        <th>Last Name</th>
		        <th style="text-align:center">Admin Flag</th>
		        <th style="text-align:center">Read Only Flag</th>
            <th>Assigned Contracts</th>
		      </tr>
	      </thead>
	      <tbody>
          <% @users.each do |user| %>
		      <tr>
		        <td><%= link_to user.user_name, user %></td>
		        <td style="text-align:center"><%= user.cmmi_user_id %></td>
		        <td><%= user.first_name %></td>
		        <td><%= user.last_name %></td>
		        <td style="text-align:center"><%= user.admin_flag %></td>
		        <td style="text-align:center"><%= user.read_only %></td>
            <td>
              <%= (user.contracts.map {|c| c.contract_name}).to_sentence(
                :two_words_connector => ', ', :last_word_connector => ', ') %>
            </td>
		      </tr>
		      <% end %>
		    </tbody>
	    </table>

      <%= will_paginate %>

	  </div>
	</div>
	<br />
</div>
