<% provide(:title, 'User Information') %>

<div class="container">
  <div class="page-header">
    <h1>User Information</h1>
  </div>

  <div class="row">
    <div class="span6 offset3">
    	<%= form_for(@user) do |f| %>
        <%= render(:partial => 'user_fields', :object => @user,
            :locals => { :f => f, :disable_element => true }) %>
      <% end %>
      <p>
        <%= link_to "Edit", edit_user_path, class: "btn btn-large btn-primary" %>
        <%= link_to "Cancel", users_path, class: "btn btn-large btn-primary" %>
        <%= link_to "Delete", @user, method: :delete,
                                     data: {confirm: "Are you sure?" }, 
                                     class: "btn btn-large btn-danger" %>
      </p>
    </div>
  </div>
</div>
