<% provide(:title, 'User Information') %>

<div class="container">
  <div class="page-header">
    <h1>User Information</h1>
  </div>

  <div class="row">
    <div class="span4 offset4">
    	<%= form_for(@user) do |f| %>
        <%= render(:partial => 'user_fields', :object => @user,
            :locals => { :f => f, :disable_element => true }) %>
      <% end %>
      
      <%= link_to raw('<i class="icon-edit icon-white"></i> Edit'), edit_user_path, class: "btn btn-small btn-primary" %>
      <%= link_to raw('<i class="icon-stop icon-white"></i> Cancel'), users_path, class: "btn btn-small btn-primary" %>
      <%= link_to raw('<i class="icon-remove icon-white"></i> Delete'), @user,  method: :delete,
                                                                                data: {confirm: "Are you sure?" }, 
                                                                                class: "btn btn-small btn-danger" %>

    </div>
  </div>
</div>
