<% provide(:title, 'Property Information') %>

<div class="container">
  <div class="page-header">
    <h1>Property Information</h1>
  </div>

  <div class="row">
    <div class="span4 offset4">
      <%= form_for(@property) do |f| %>
        <%= render(:partial => 'property_fields', :object => @property,
            :locals => { :f => f, :disable_element => true }) %>            
        <%= f.label :rec_add_ts, "Record add timestamp" %>
        <%= f.text_field :rec_add_ts, { disabled: true } %>
      <% end %>

      <% disable_edit_btn = true if @property.related_entity == "Action_Items" %>
      <!-- This styling is looking awful kludgy. I'm pretty sure this isn't
           the right way to do it. But it works, so I'll leave it this way
           for now and try to figure out a better way later.
           [Joe 04.12.1013]
      -->
      <div style="float:left;padding-right:4px">  
        <%= button_to "Edit", edit_property_path, class: "btn btn-primary", :method => :get, :disabled => disable_edit_btn %>
      </div>
      <div style="float:left">
        <%= button_to "Cancel", properties_path, class: "btn btn-primary", :method => :get %>
      </div>
    </div>
  </div>
</div>
